@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
body {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #08090A;
  background-image: url(http://www.independent-software.com/assets/css/starfield.jpg);
}

.title{
  font-size: 100px;
  color: white;
}

.card{
  width: 20rem;
  margin-left: 500px;
  margin-top: 50px;
}

.section{
  width:40px;
  height:40px;
}

#submit{
  margin-bottom: 20px;
}

#output{
  margin-right:-200px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
} 

#universe {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  width: 200%;
  height: 200%;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(http://www.independent-software.com/assets/css/flare.png);
}

#galaxy {
  position: relative;
  width: 200%;
  height: 200%;
}

#sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-top: -.5em;
  margin-left: -.5em;
  border-radius: 50%;
  background-color: #FB7209;
  box-shadow: 0 0 60px rgba(255, 160, 60, 0.4);
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20em;
  background-image: url(http://www.independent-software.com/assets/css/sun.png);
}

#mercury{
  position: absolute;
  margin-left: 215px;
  height: 15px;
  width: 15px;
  background: linear-gradient(to bottom, #ffa17f 0%, #00223e 100%);
  border-radius: 100%;
}
#mercury-orbit{
  position:absolute;
  top: 20%;
  left: 20%;
  margin-top:124px;
  margin-left:75px;
  width:350px;
  height:350px;
  border:1px dotted white;
  border-radius:100%;
  -webkit-animation:spin 9s linear infinite;
  animation:spin 9s linear infinite;
}

#venus{
  position: absolute;
  margin-left: 88px;
  height: 40px;
  width: 40px;
  background: linear-gradient(to bottom, #da4453, #89216b 100%);
  border-radius: 100%;
}
#venus-orbit{
  position:absolute;
  top: 20%;
  left: 20%;
  margin-top:100px;
  margin-left:50px;
  width:400px;
  height:400px;
  border:1px dotted white;
  border-radius:100%;
  -webkit-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
}

#earth{
  position:absolute;
  margin-left:120px;
  height:50px;
  width:50px;
  background: linear-gradient(to bottom, #00ff00, #0066ff 100%);
  border-radius:100%;
}
#earth-orbit{
  position:absolute;
  top: 20%;
  left: 20%;
  margin-top:55px;
  width:500px;
  height:500px;
  border:1px dotted white;
  border-radius:100%;
    -webkit-animation:spin 12s linear infinite;
  animation:spin 12s linear infinite;
}
#moon{
  width:10px;
  height:10px;
  border-radius:100%;
  background:white;
  position:absolute;
  margin-left:52px; 
}
#moon-orbit{
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 1px dotted transparent;
  margin-left: 108px;
  margin-top: -13px;
    -webkit-animation:spin 5s linear infinite;
  animation:spin 5s linear infinite;
}

#mars{
  position:absolute;
  margin-left:175px;
  height:35px;
  width:35px;
  background: linear-gradient(to bottom, #333333, #dd1818 100%);
  border-radius:100%;
}
#mars-orbit{
  position: absolute;
  top: 20%;
  left: 20%;
  margin-top: 10px;
  margin-left: -50px;
  width: 600px;
  height: 600px;
  border: 1px dotted white;
  border-radius: 100%;
    -webkit-animation:spin 11s linear infinite;
  animation:spin 11s linear infinite;
}

#jupiter{
  position:absolute;
  margin-left:-3x;
  height:150px;
  width:150px;
  background: linear-gradient(to bottom, #7e4104, #b8997a 100%);
  border-radius:100%;
}
#jupiter-orbit{
  position: absolute;
  top: 20%;
  left: 20%;
  margin-top: -30px;
  margin-left: -100px;
  width: 700px;
  height: 700px;
  border: 1px dotted transparent;
  border-radius: 100%;
   -webkit-animation:spin 15s linear infinite;
  animation:spin 15s linear infinite; 
}

#saturn{
  position:absolute;
  margin-left:-3x;
  height:125px;
  width:125px;
  background: linear-gradient(to bottom, #663300, #ffff00 100%);
  border-radius:100%;
}
#saturn-orbit{
  position: absolute;
  top: 20%;
  left: 20%;
  margin-top: -80px;
  margin-left: -144px;
  width: 800px;
  height: 800px;
  border: 1px dotted white;
  border-radius: 100%;
   -webkit-animation:spin 17s linear infinite;
  animation:spin 17s linear infinite;
}

#rings{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 17px solid #663300;
  margin-left: -38px;
  margin-top: -37px;
    -webkit-animation:spin 5s linear infinite;
  animation:spin 5s linear infinite;
}

#rings2{
  width: 155px;
  height: 155px;
  border-radius: 100%;
  border: 7px solid #ffff00af;
  margin-left: -15px;
  margin-top: -177px;
    -webkit-animation:spin 5s linear infinite;
  animation:spin 5s linear infinite;
}

#uranus{
  position:absolute;
  margin-left:-3x;
  height:85px;
  width:85px;
  background: linear-gradient(to bottom, #4ca1af  , #c4e0e5 100%);
  border-radius:100%;
}
#uranus-orbit{
  position: absolute;
  top: 20%;
  left: 20%;
  margin-top: -157px;
  margin-left: -222px;
  width: 950px;
  height: 950px;
  border: 1px dotted white;
  border-radius: 100%;
   -webkit-animation:spin 20s linear infinite;
  animation:spin 20s linear infinite;
}

#neptune{
  position:absolute;
  margin-left:-3x;
  height:65px;
  width:65px;
  background: linear-gradient(to bottom, #373b44  , #4286f4 100%);
  border-radius:100%;
}
#neptune-orbit{
  position: absolute;
  top: 20%;
  left: 20%;
  margin-top: -287px;
  margin-left: -357px;
  width: 1200px;
  height: 1200px;
  border: 1px dotted white;
  border-radius: 100%;
   -webkit-animation:spin 25s linear infinite;
  animation:spin 25s linear infinite;
}

#pluto-orbit{
  position: absolute;
  top: 20%;
  left: 20%;
  margin-top: -490px;
  margin-left: -558px;
  width: 1600px;
  height: 1600px;
  border: 1px dotted white;
  border-radius: 100%;
   -webkit-animation:spin 25s linear infinite;
  animation:spin 25s linear infinite;
}

@-webkit-keyframes spin{
100%{
   -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
 }
}
@keyframes spin{
100%{
    -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
 }
}